.wrapper1 {
  padding-top: 50px;
}
.wrapper {
  /* margin-top: 50px; */
  /* padding-top: 100px; */
  /* text-align: center; */
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  position: relative;
  margin: a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 360px;
  border-radius: 15px;
  border: 2px solid rgb(0, 0, 0);
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p {
  font-size: 40px;
  margin: 10px;
}
.clock section small {
  color: rgb(19, 19, 25);
  text-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .clock {
    height: 100px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
  }

  .clock section p {
    font-size: 18px;
    margin: 4px;
  }
}
